langchain
langchain-experimental
langchain-community
langchain-openai
python-dotenv
validators
faiss-cpu
google-api-python-client
openai
tiktoken
redis
streamlit
streamlit-chat
duckduckgo-search
stripe
tldextract
python-whois
