langchain
langchain-experimental
langchain-community
langchain-core>=0.3.77
langchain-openai>=0.3.34
python-dotenv
validators
faiss-cpu
google-api-python-client
openai>=2.0.0
tiktoken
redis
streamlit
streamlit-chat
ddgs
langchain_experimental
